@inherits RazorBlade.HtmlTemplate

<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
<head title="Post">
    <style>
       :root
        {
            color-scheme: light dark;
        }
    </style>
</head>
<body>
</body>
